@font-face{
    font-family: "Web-Raleway";
    src:url('Raleway-Regular.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Raleway-Bold";
    src:url('Raleway-Bold.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Italic";
    src:url('Raleway-Italic.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Light";
    src:url('Raleway-Light.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #FBB03B;
}

/* header */
.clear{
    float: none;
    clear: both;
}

* {
    box-sizing: border-box;
  }

.center{
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   
}

#header{
    padding: 40px 0;
}

#header #logo{
    margin-left: auto;
    border: solid 1px white;
    margin-right: auto;
}


/* banner */

#logo img{
    /* margin-left: -15%; */
    margin-right: auto;
}

#banner h1{
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.btn-primary{
    background-color: black;
    color: white;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 23%;
    letter-spacing: 2px;
    
}

#header #logo{
    margin-left: auto;
    margin-right: auto;
}

.menu {
    width: 50%;
    float: left;
    padding: 15px;
  }
  
.main {
    width: 50%;
    float: left;
    padding: 15px;
}


input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 1%;
    border-radius: 4px;
    margin-left: 10%;
    resize: vertical;
    
  }
  
  ::placeholder {
    color: #808080;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }
  