@font-face{
    font-family: "Web-Raleway";
    src:url('Raleway-Regular.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Raleway-Bold";
    src:url('Raleway-Bold.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Italic";
    src:url('Raleway-Italic.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Light";
    src:url('Raleway-Light.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #8CC63F;
}

/* header */
.clear{
    float: none;
    clear: both;
}

.center{
   width: 500px;
   margin: auto;
   
}

* {
    box-sizing: border-box;
  }


#header{
    padding: 40px 0;
}

#header #logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.img0 {
    height: 100px; 
    width: auto;
    max-width: 220%;
    margin-left: 8%;
    margin-top: -3%;
    position: absolute;
}

.img1 {
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    margin-left: -5%;
    margin-top: -3%;
    height: 600px; width: auto
}

.img2 {
    height: 600px; 
    width: auto;
    margin-top: -3%;
    max-width: 250%;
    margin-left: -67%;
    position: relative;
}

.img3 {
    height: 200px; 
    width: auto;
    max-width: 250%;
    margin-left: 23%;
    margin-top: -3%;
    position: relative;
}

/* banner */
#banner-kiri h1{
    margin-left: 16%;
    margin-right: auto;
    width: 60%;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: white;
    
}


#banner-kiri p{
font-family: "Web-Raleway";
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 30px;
    font-size: 15px;
    position: relative;
    color: white;
    
}

#banner-kiri h2{
    font-family: "Web-Raleway";
    text-align: center;
    width: 75%;
    margin-left: 13%;
    font-size: 18px;
    position: relative;
    color: #FCEE21;
    text-transform: uppercase;
}

#banner-kiri h3{
    font-family: "Web-Raleway";
    text-align: center;
    padding: 30px;
    margin-left: -3%;
    font-size: 14px;
    position: relative;
    color: white;
    text-transform: uppercase;
}

#banner-kanan h1{
    margin-left: 16%;
    margin-right: auto;
    width: 60%;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: white;
    
}


#banner-kanan p{
font-family: "Web-Raleway";
    list-style-type: none;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: white;
    
}

#banner-kanan h2{
    font-family: "Web-Raleway";
    text-align: center;
    width: 75%;
    margin-left: 13%;
    font-size: 18px;
    position: relative;
    color: #FCEE21;
    text-transform: uppercase;
}

#banner-kanan h3{
    font-family: "Web-Raleway";
    text-align: center;
    padding: 30px;
    margin-top: -3%;
    font-size: 14px;
    position: relative;
    color: white;
    text-transform: uppercase;
}

#banner-bawah p{
    font-family: "Web-Raleway";
        list-style-type: none;
        width: 100%;
        text-align: left;
        font-size: 15px;
        color: white;
        
    }
    
    #banner-bawah h2{
        font-family: "Web-Raleway";
        text-align: left;
        width: 100%;
        font-size: 18px;
        position: relative;
        color: #FCEE21;
        text-transform: uppercase;
    }


.btn-primary{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 25%;
    letter-spacing: 2px;
}

.btn-sec{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 2px;
}

.a{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: -2%;
    display: block;
    
}


input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 1%;
    border-radius: 4px;
    margin-left: 30%;
    resize: vertical;
    
  }
  
  ::placeholder {
    color: #808080;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 22%;
    float: right;
    font-weight: 900;
    margin-bottom: 5%;
    
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }
  
  .menu {
    width: 40%;
    float: left;
    padding: 15px;
  }
  
  .main {
    width: 60%;
    float: left;
    padding: 5px;
    margin-left: -3%;
  }
  
  .menu2 {
    width: 60%;
    float: left;
    padding: 15px;
  }
  
  .main2 {
    width: 40%;
    float: left;
    padding: 15px;
  }
  
  