@font-face{
    font-family: "Web-Raleway";
    src:url('Raleway-Regular.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Raleway-Bold";
    src:url('Raleway-Bold.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Italic";
    src:url('Raleway-Italic.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

@font-face{
    font-family: "Web-Light";
    src:url('Raleway-Light.ttf') format("embedded-opentype");
    font-style:normal;
    font-weight: normal;
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #FBB03B;
}

/* header */
.clear{
    float: none;
    clear: both;
}

.center{
   width: 500px;
   margin: auto;
   
}

#header{
    padding: 40px 0;
}

#header #logo{
    margin-left: auto;
    margin-right: auto;
}

#banner img {
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    margin-left: -3%;
}


/* banner */
#banner h1{
    margin-left: 18%;
    margin-right: auto;
    width: 60%;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: #ED1E79;
    
}


#banner ul{
    text-align: left;
    list-style-type: none;
    width: 60%;
    padding: 30px;
    margin-left: 13%;
    font-size: 20px;
    position: relative;
}

#banner ul li{
    text-transform: uppercase;
    width: auto;
    color: white;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
}

.btn-primary{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 15%;
    margin-bottom: 10%;
    letter-spacing: 2px;
}

.btn-sec{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-right: 16%;
    margin-bottom: 10%;
    letter-spacing: 2px;
}

.a{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: -2%;
    display: block;
    
}